version: "3"
services:
  db:
    image: mysql:5.7
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - '3306:3306'
    volumes:
      - my-db:/var/lib/mysql
      
  app:
    depends_on:
      - db
    container_name: iubank
    build: .
    command: bash start.sh
    ports:
      - "3000:3000"
    volumes:
      - .:/iubank
      - app-gems:/app-gems
    environment:
      DB_NAME_PROD: ${DB_NAME_PROD}
      DB_NAME_DEV: ${DB_NAME_DEV}
      DB_NAME_TEST: ${DB_NAME_TEST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}

volumes:
  my-db:
  app-gems:
